.login-wrapper {
    width: 600px;
    height: 65vh;
    background-color: red;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden; /* disable vertical scrolling */
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.login-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.login-card {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

.login-card:first-of-type {
    background-color: rgb(255, 255, 255);
}

.login-card:nth-of-type(2) {
    background-color: lightcoral;
}
.login-card#lol {
    background-color: lightcoral;
    position: relative;
    left: 0;
}

