
body {
  font-family: 'Rubik', sans-serif;
}

.sticky-header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 300px 4fr 1fr;
  /* background-color: orange; */
  transition: all 0.3s ease;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 105px;
  cursor: pointer;
  height: 90px;
}

.logo span {
  font-size: 1.7rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  margin: 0 auto;
}

.nav-links li a {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.nav-links li a:hover {
  color: white;
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons a {
  margin-inline: 25px 10px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.header-icons a:hover {
  color: white;
}

.user {
  display: flex;
  align-items: center;
}

.user i {
  padding-right: 5px;
}
#menu-icon {
  display: none;
}

.logo {
  text-decoration: none;
  font-weight: 300;
  color: black;
  padding-left: 5%;
}

.main-wrap {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh auto;
}

.starting {
  grid-row: 2;
}
@media all and (max-width: 1230px) {
  .sticky-header {
    grid-template-columns: 250px 4fr 1fr;
  }

  .logo span {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .nav-links li a {
    font-size: 0.9rem;
    padding: 5px 0;
    margin: 0px 20px;
  }

  .header-icons a {
    margin-inline: 5px 10px;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

@media all and (max-width: 840px) {
  .sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menu-icon:hover {
    color: white;
  }
  #menu-icon {
    display: block;
    font-size: 55px;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.3s all ease;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 200px;
    height: 29vh;
    background-color: #ff8600;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0px 0px 10px 10px;
    transition: 0.3s all ease;
  }

  .nav-links a {
    display: block;
    margin: 12px 0px;
    padding: 0px 25px;
    transition: 0.3s ease;
  }

  .user {
    display: none;
  }

  .nav-links li a.active {
    color: black;
  }

  .nav-links.open {
    right: 0%;
  }
}
/* 
.nav-links ul  a{
  list-style: none!important;
  text-decoration: none;
} */

/* ***************************checkout ******************************/
.fs {
  color: rgb(25, 250, 205);

  /* font-weight: bold; */
}

.line {
  color: rgb(25, 250, 205);
}
.order-info {
  background: rgba(140, 107, 38);
  /* color:rgb(25, 250, 205); */

  padding: 30px;
  border-radius: 6px;
  height: auto;
}
.colorName {
  color: rgba(140, 107, 38);
  font-weight: 400;
}
.product-details {
  padding: 10px;
}

body {
  background: #eee;
}

.cart {
  background: rgba(140, 107, 38);
  min-height: auto;
  margin-top: 10vh !important;
}
.order {
  margin-top: -50px;
}
.radio {
  color: #fff;
}
.fs2,
.ttl,
.fs {
  color: #19facd;
}

label.radio {
  cursor: pointer;
}

/* .credit-inputs {
  background: rgb(102, 102, 221);
  color: #fff !important;
  border-color: rgb(102, 102, 221);
} */

.form-control::placeholder {
  color: #8c6c26;
  font-size: 15px;
}

.credit-card-label {
  font-size: 9px;
  font-weight: 300;
}

.form-control:focus {
  background: rgb(252, 250, 246);
  border: rgba(140, 107, 38);
}
/*   color:rgb(25, 250, 205);

.line {
  border-top: 2px solid rgb(102, 102, 221);
} */

.payment span {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.payment {
  margin-bottom: 20px;
  margin-top: 20px;
}
.return {
  color: rgb(160, 160, 218);
}
.items {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(140, 107, 38);
  box-shadow: 5px 4px 4px -1px rgba(140, 107, 38);
}

.span2 {
  color: black;
}
.allqty {
  color: rgba(140, 107, 38);
}

.trash-icon {
  /* color: #4f46e5 !important; */
  color: rgb(47, 182, 155) !important;

  cursor: pointer;
}
/* responsive */

/* @media screen and (max-width: 768px) {
  .cart {
    max-width: 100%;
    margin: 0;
    padding: 3%;

  }
  .order-info{
        

  } */

/* .container {
    padding: 3%;
  } */
/* } */
/* 
@media screen and (max-width: 480px) {
  .container {
    padding: 2%;
  }

  .fs {
    font-size: 32px;
  }

  .fs2 {
    font-size: 24px;
  }

  .gap-15 {
    gap: 10px;
  }

  .justify-content-between {
    justify-content: center;
  }

  .align-items-center {
    align-items: center;
  }

  .order-info {
    margin-top: 10px;
  }

  .line {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
} */

/* end checkout */

.fa{
  color:#ffedd3;
}
.btn{
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #19facd;
  transition: 0.5s ease;
}

.btn:hover {
  color: #eaeaf7;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #19facd;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
